.app {
  background-color: #121212;
  color: #fff;
  min-height: 100vh;
}

.app * {
  box-sizing: border-box;
}

/**********************
 * Header
 **********************/

.two-column-section {
  padding: 10px;
  margin-bottom: 20px;
}

.two-column-section-body {
  display: flex;
  flex-direction: column;
}

.two-column-section-body > * {
  width: 100%;
}

.two-column-section-body > div:first-child {
  margin-bottom: 10px;
}

/**********************
 * Welcome
 **********************/

.welcome-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.welcome-gallery-image {
  background-color: #ffffff;
  height: 100px;
  width: 100px;
}

.welcome-gallery-image:nth-child(1n) {
  margin-right: 10px;
}

.welcome-gallery-image:nth-of-type(4),
.welcome-gallery-image:nth-of-type(5) {
  margin-top: 10px;
}

.welcome-gallery-image-break {
  width: 100%;
}

/**********************
 * Project specs
 **********************/

.project-specs-image {
  background-color: #fff;
  height: 300px;
  width: 300px;
}

/**********************
 * Navigation
 **********************/

.navigation-mobile {
  display: flex;
  justify-content: space-between;
}

.hamburger-icon {
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  padding: 5px;
  width: 50px;
}

.hamburger-icon-stripe {
  background-color: #fff;
  height: 5px;
}

.hamburger-icon-stripe:first-child,
.hamburger-icon-stripe:nth-child(2) {
  margin-bottom: 5px;
}

/**********************
 * Media Query
 **********************/

@media only screen and (min-width: 768px) {
  .two-column-section-body {
    flex-direction: row;
  }

  .two-column-section-body > * {
    width: 50%;
  }

  .two-column-section-body > div:first-child {
    margin-bottom: 0px;
    padding-right: 5px;
  }

  .two-column-section-body > div:nth-of-type(2) {
    margin-bottom: 0px;
    padding-left: 5px;
  }
}