.app {
  animation: 0.35s fade-up-enter;
  background-color: #121212;
  color: #ffffff;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
}

.app * {
  box-sizing: border-box;
}

/**********************
 * App Button
 **********************/

.app-button {
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  min-width: 150px;
  padding: 10px;
}

.primary {
  background-color: #BB86F3;
  color: #121212;
}

.primary-variant {
  background-color: #3700b3;
  color: #fff;
}

/**********************
 * Header
 **********************/

.two-column-section {
  margin-bottom: 50px;
  padding: 10px;
}

.two-column-section p {
  margin-bottom: 10px;
}

.two-column-section-body {
  display: flex;
  flex-direction: column;
}

.two-column-section-body > * {
  width: 100%;
}

.two-column-section-body > div:first-child {
  margin-bottom: 20px;
}

.two-column-section-header {
  margin-bottom: 20px;
  text-align: center;
}

/**********************
 * Welcome
 **********************/

.welcome-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.welcome-gallery-image {
  border-radius: 10px;
  height: 175px;
  margin-bottom: 10px;
  width: 175px;
}

.welcome-gallery-image:nth-child(1n) {
  margin-right: 10px;
}

.welcome-gallery-image-break {
  width: 100%;
}

/**********************
 * Section
 **********************/

.section-image {
  border-radius: 10px;
  display: block;
  height: 300px;
  margin: 0 auto;
  width: 300px;
}

/**********************
 * Navigation
 **********************/

.navigation-logo {
  height: 120.5px;
  width: 200px;
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover,
.nav-link:active {
  color: #BB86F3;
}

.nav-links-md {
  display: none;
}

.nav-links-xs {
  animation: 0.35s fade-up-enter;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 100%;
}

.nav-links-xs > * {
  margin-bottom: 10px;
}

.navigation {
  align-items: center;
  background-color: #121212;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hamburger-icon {
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  margin: 20px;
  padding: 5px;
  width: 50px;
}

.hamburger-icon-stripe {
  background-color: #fff;
  height: 5px;
}

.hamburger-icon-stripe:first-child,
.hamburger-icon-stripe:nth-child(2) {
  margin-bottom: 5px;
}

/**********************
 * Countdown timer
 **********************/

.coming-soon-container {
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

/**********************
 * CTA Banner
 **********************/

.cta-banner {
  align-items: center;
  background-color: #1f1b24;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 50px;
  padding: 10px;
}

.cta-banner-text {
  flex: 1;
  font-size: 1.25rem;
  padding-right: 10px;
}

/**********************
 * Animations
 **********************/

@keyframes fade-up-enter {
  0% {
    opacity: 0;
    transform: translateY(15px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

/**********************
 * Footer
 **********************/

.footer {
  border-top: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/**********************
 * Media Query
 **********************/

@media only screen and (min-width: 768px) {
  .footer {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .hamburger-icon {
    display: none;
  }

  .navigation {
    flex-wrap: nowrap;
  }

  .nav-links-md {
    display: flex;
    flex-direction: row;
  }

  .nav-links-md .nav-link {
    margin-right: 10px;
  }

  .nav-links-xs {
    display: none;
  }

  .two-column-section-body {
    flex-direction: row;
  }

  .two-column-section-body > * {
    width: 50%;
  }

  .two-column-section-body > div:first-child {
    margin-bottom: 0px;
    padding-right: 5px;
  }

  .two-column-section-body > div:nth-of-type(2) {
    margin-bottom: 0px;
    padding-left: 5px;
  }

  .two-column-section-header {
    text-align: left;
  }
}